:root {
  /* Mocha */
  --blue: #89b3fa;
  --cornflower-blue: #6495ed;

  --mauve: #cba6f7;
  --wisteria: #c9a0dc;
  --purple: #967bb6;
  --lavender: #b4befe;

  --teal: #94e2d5;
  --green: #a6e3a1;

  --red: #f38ba8;
  --pink: #f5c2e7;

  --yellow: #f9e2af;
  --flamingo: #f2cdcd;

  --maroon: #eba0ac;
  --rosewater: #f5e0dc;

  --sapphire: #74c7ec;
  --sky: #89dceb;

  --peach: #fab387;
  --burlywood: #deb887;

  --white: #e3f3ff;
  --black: #000000;

  --text: #8fb1ea;
  --subtext2: #cdd6f3;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;

  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;

  --surface2: #585b70;
  --surface1: #3d3f55;
  --surface0: #313233;

  --base: #1e1e2d;
  --mantle: #181825;
  --crust: #11111b;
  /* Extended */

  --tufts: #317dc1;
  --tufts-light: #3e9ede;
  --cinnamon-satin: #cd607e;
  --beer: #f28e1c;
  --bronze: #cd7f32;
  --ford: #322963;
  --koamaru: #333366;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* Style page content */
html {
  background-color: var(--base);
  color: var(--subtext0);
  font-family: "Arial";
}

/* Tag Styling */
block {
  background-color: var(--green);
  color: var(--base);
  padding: 0 5px;
  border-radius: 5px;
}

pre{
  margin: 0;
  padding: 10px;
}

code{
	user-select: all;
}

ul {
  margin: 0;
  padding-left: 1.5rem;
  list-style-type: disc;
}

ul li {
  margin: 8px 0;
}


h1, .h1{
  font-size: 3.6rem;
  font-family: "SpaceAlly";
  font-weight: 700;
}

h2, .h2{
  font-size: 3rem;
  font-family: "Delius";
  font-weight: 600;
}

h3, .h3{
  font-size: 2.4rem;
  font-family: "Delius";
  font-weight: 600;
}

h4, .h4 {
  font-size: 2rem;
  font-family: "Delius";
  font-weight: 500;
}

h5, .h5 {
  font-size: 1.6rem;
  font-family: "Delius";
  font-weight: 500;
}

h6, .h6 {
  font-size: 1.3rem;
  font-family: "Delius";
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.6em;
  line-height: 1.25;
}

h1 { margin-bottom: 0.8em; }
h2 { margin-bottom: 0.7em; }
h3 { margin-bottom: 0.6em; }
h4 { margin-bottom: 0.5em; }
h5 { margin-bottom: 0.4em; }
h6 { margin-bottom: 0.3em; }


hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 1.5rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.centerify {
  display: grid;
  place-items: center;
}


/* Background Colors */

.bg-gray {
  background-color: #282a35;
}

/* Hero Banner */
.hero {
  height: 300px;
  display: flex;
  justify-content: center;
}

/* Class Styling */
.output {
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  background-color: slade-green;
}

.main {
  margin-left: 250px; /* Same as the width of the sidebar */
}

.content{
  padding: 30px 0;
}

.note {
  color: var(--black);
  background-color: var(--burlywood);
  padding: 10px;
  margin: 10px;
}

.pager {
  text-align: center;
  font-weight: bold;
  font-size: 2vw;
  border: 3px solid #99c67d;
  border-radius: 10px;
  background-color: #c3df9c;
  color: white;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.egtxt {
  border-radius: 10px;
  padding: 30px;
  background-color: #282a35;
  color: white;
  margin: 10px;
}

.codeblock {
  font-family: "Comic Mono";
  padding: 30px 50px;
  border-radius: 30px;
  background-color: var(--burlywood);
  color: black;
  user-select: all;
  width: fit-content;
}

.example1 {
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}
.example table {
  background-color: white;
}
.colorbox {
  display: flex;
}
.box1 {
  margin: 10px;
  padding: 10px;
  color: white;
  text-align: center;
}
.box2 {
  width: 100%;
  padding: 5px;
}
.box3 {
  color: white;
  text-align: center;
}
.btn1 {
  background-color: red;
  color: white;
  padding: 20px;
  line-height: 3;
}
.row {
  display: flex;
  margin: 0 auto;
}
.w3 {
  width: 300px;
}

/* The sidebar menu */
.sidenav {
  font-size: 1.2rem;
  padding: 20px;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: auto; /* Enable vertical scroll */
  background-color: var(--crust);
}

/* The navigation menu links */
.sidenav a {
  padding: 5px;
  text-decoration: none;
  color: var(--overlay0);
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  background-color: #cccccc;
}

.sidenav .active {
  background-color: #04aa6d;
  color: white;
}

.sidenav .active:hover {
  background-color: #04aa6d;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.topnav {
  overflow: hidden;
  background-color: var(--mantle);
  border-bottom: 1px solid var(--overlay0);
}

.topnav a {
  float: left;
  display: block;
  color: var(--overlay0);
  background-color: var(--koamaru);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: var(--blue);
  color: var(--white);
}

.topnav input[type="text"] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}

.table {
  margin: 5px;
  width: 100%;
  border-collapse: collapse;
  background-color: #1e1e1e;
  color: #eaeaea;
  font-family: Arial, sans-serif;
}

.table th,
.table td {
  padding: 10px 12px;
  border: 1px solid #2d2d2d;
  text-align: left;
}

.table thead th {
  background-color: #252525;
  color: #ffffff;
  font-weight: 600;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #242424;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #1e1e1e;
}

.table tbody tr:hover {
  background-color: #2f2f2f;
}


.screenshot {
  height: 500px;
  width: auto;
}